body {
 
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100%;
  background-image: url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    color: rgb(187, 185, 185);
    flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
